<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--For HSQLDB. In memory.-->
        <property name="connection.driver_class">org.hsqldb.jdbcDriver</property>
        <property name="connection.username">sa</property>
        <property name="connection.password">""</property>
        <property name="connection.url">jdbc:hsqldb:mem:testDB</property>
        <property name="dialect">org.hibernate.dialect.HSQLDialect</property>

        <!--For Oracle-->
        <!--<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
        <property name="connection.username">devuser</property>
        <property name="connection.password">devuser</property>
        <property name="connection.url">jdbc:oracle:thin:@//localhost:1521/xe</property>
        <property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>-->

        <!--Standard properties-->
        <property name="hbm2ddl.auto">update</property>
        <property name="format_sql">true</property>
        <property name="show_sql">true</property>

        <!--Annotation based-->
        <mapping class="com.brs.hibernate.entity.Todo"/>

        <!--Mapped entities. One to Many mapping. Has examples for list, set, array, map, bag. idbag-->
        <mapping resource="hibernate.mapping.xml"/>
    </session-factory>
</hibernate-configuration>